.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


body{
  background-color:#EAEAEA ;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text-gray-500 {
  color: rgb(17 17 17 / var(--tw-text-opacity));
}
.header-color{
  color: rgb(30 41 59 / var(--tw-text-opacity));
}

.text-value{
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.text-opacity-75 {
  --tw-text-opacity: 0.5;
}

.clip-custom { 
  -webkit-clip-path: polygon(0 0, 5760px 0, 5760px calc(100% - 352px), 0 100%);
  clip-path: polygon(0 0, 5760px 0, 5760px calc(100% - 352px), 0 100%);
  z-index: -10000 !important;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
